/* Cabecera */

.cabecera {
    justify-content: center;
    padding: 0 1rem;
}

 /* Body */

 .banner__imagen {
    background: url("../img/carta.jpg") no-repeat center / cover;
    width: 100%;
}

.titulo {
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 500%;
    position: absolute;
    left: 50%;
    text-align:center; 
    top: 25%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%);
}


.titulo__entradas {
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 300%;
    text-align: center;
    position: absolute;
    left: 10%; 
    top: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%);   
}

.entradas {
    color: #808080;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: center;
    position: absolute;
    left: 10%; 
    top: 75%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
    
}

.entradas_precios {
    color: #808080;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 95%;
    text-align: center;
    position: absolute;
    left: 85%; 
    top: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
}

.titulo__platos-principales {
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 300%;
    text-align: center;
    position: absolute;
    left: 17%; 
    top: 120%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
}

.platos {
    color: #808080;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: center;
    position: absolute;
    left: 12%; 
    top: 150%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%);    
}

.platos_precios {
    color: #808080;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 95%;
    text-align: center;
    position: absolute;
    left: 83%; 
    top: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
    line-height: 1.25;
    
}

.titulo__bebidas {
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 300%;
    text-align: center;
    position: absolute;
    left: 10%; 
    top: 190%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
}

.bebidas__sin-alcohol {
    color: #808080;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: center;
    position: absolute;
    left: 10%; 
    top: 205%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
}

.bebidasSinAlcohol_precios {
    color: #808080;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 95%;
    text-align: center;
    position: absolute;
    left: 85%; 
    top: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
    line-height: 1.25;
}

.bebidas__con-alcohol {
    color: #808080;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: center;
    position: absolute;
    left: 10%; 
    top: 235%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
}

.bebidasAlcoholicas_precios {
    color: #808080;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90%;
    text-align: center;
    position: absolute;
    left: 85%; 
    top: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
    line-height: 1.25;
}

.titulo__postres {
    color: #8d0606;
    font-family: Pacifico, cursive;
    font-size: 300%;
    text-align: center;
    position: absolute;
    left: 10%; 
    top: 260%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
}

.postres {
    color: #808080;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: center;
    position: absolute;
    left: 10%; 
    top: 275%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
}

.postres_precios {
    color: #808080;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 140%;
    text-align: center;
    position: absolute;
    left: 45%; 
    top: 275%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%); 
    line-height: 1.25;
}

.pie-de-pagina {
    background: #bfbfbf;
    color: #fdfdfd;
    text-align: center;
    padding: 1.5625rem;
}

/*
