.todo {
    background-color:bisque;
}

.banner__imagen {
    margin-top: 1rem;
    text-align: center;
}

.descripcion {
    margin-top: 3rem;
    text-align: center;
}

.titulo__descripcion {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
}

.sobre__descripcion1 {
    font-size: 110%;
}

.valoracion__titulos {
    margin-top: 2rem;
    font-size: 150%;
}

.premio__chef {
    margin-top: 2rem;
}

.sobre__descripcion2 {
    margin-top: 2rem;
    font-size: 110%;
}

.opiniones {
    margin-top: 1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
}

.medallaOro {
    width: 10%;
}

.medallaPlata {
    width: 10%;
} 

.descripcion__premios {
    margin-top: 3rem;
    font-size: 125%;
}
